.git
*.Rproj
.Rprofile
.Rhistory
.RData
.Ruserdata
.Rproj.user

scripts/__pycache__/
scripts/update/__pycache__/
scripts/reset/__pycache__/
geckodriver.log
scripts/reset/geckodriver.log
options/credentials.json


